<html>
<head>
  <title>Sinatra Study</title>
</head>
<body style="background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQBJlW-2sNyVfXjiURKwYggYjlS4HlTUbPfxTp8RayGC5MIp0mYeQ);" >
  Hello world!<br>
  <%= Time.now %>
</body>
</html>

